<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Student Form</title>  
</head>  
<body>  
    <h1>Student Form</h1>  
    <form method="POST">  
        Full Name: <input type="text" name="full_name" required><br>  
        Id Number: <input type="text" name="id_number" required><br>  
        Nationality: <input type="text" name="nationality" required><br>  
        Region: <input type="text" name="region" required><br>  
        Zone: <input type="text" name="zone" required><br>  
        Phone Number: <input type="text" name="phone_number" required><br>  
        Stream Natural Science: <input type="checkbox" name="stream_natural_science"><br>  
        Academic Year: <input type="text" name="academic_year" required><br>  
        Sex:   
        <input type="radio" name="sex" value="male" required> Male  
        <input type="radio" name="sex" value="female"> Female<br>  
        Class Year:   
        <input type="checkbox" name="class_year" value="1st year"> 1st Year  
        <input type="checkbox" name="class_year" value="2nd year"> 2nd Year  
        <input type="checkbox" name="class_year" value="3rd year"> 3rd Year  
        <input type="checkbox" name="class_year" value="4th year"> 4th Year<br>  
        Program:   
        <input type="checkbox" name="program" value="remedial"> Remedial  
        <input type="checkbox" name="program" value="undergraduate"> Undergraduate  
        <input type="checkbox" name="program" value="postgraduate"> Postgraduate<br>  
        Semester:   
        <input type="checkbox" name="semester" value="1st"> 1st  
        <input type="checkbox" name="semester" value="2nd"> 2nd  
        <input type="checkbox" name="semester" value="3rd"> 3rd<br>  
        Academic Type:   
        <input type="checkbox" name="academic_type" value="Regular"> Regular  
        <input type="checkbox" name="academic_type" value="Weekend"> Weekend  
        <input type="checkbox" name="academic_type" value="Summer"> Summer<br>  
        <input type="submit" value="Submit">  
    </form>  
</body>  
</html>